:root {
    --primary-text-color: #363958;
    --bg-color: #FFF9F4;
    --price-color: #FA804C;
}

body {
    overflow-x: hidden;
}

/* Header background image */
.banner-bg-img {
    background-image: url(images/bg-img.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

main {
    background-color: #FFFFFF;
}

.primary-color {
    color: var(--primary-text-color);
}

/* Nav color */
.bg-custom {
    background-color: var(--bg-color);
}

.text-custom {
    color: var(--price-color);
}

/* Banner image half width */
.small-full-width {
    width: 50%;
}

/* Bannar fixed width */
.banner-fixed-width {
    width: 22.3125rem;
    height: 19rem;
}

/* Button svg size */
button > svg {
    width: 24px;
    height: 24px;
    padding-right: 8px;
    text-align: center;
}

/* custom cards */
.custom-card {
    width: 23.125rem;
    height: 34.377rem;
    background-color: #ffffff;
}

/* card img bg color */
.card-img-bg {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

@media screen and (max-width: 677.99px) {
    body {
        overflow-x: hidden;
    }
    .banner-bg-img {
        height: 100vh;
    }
    
    /* Bannar fixed width */
    .banner-fixed-width {
        width: 18rem;
        height: 11rem;
    }

    /* Banner image full width */
    .small-full-width {
        width: 70%;
        height: 80%;
        margin-top: 80px;
    }
}